:root {
  --primary: #2563eb;
  --dark: #0f172a;
  --light: #f8fafc;
  --gray: #64748b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--light);
  color: var(--dark);
}

/* Navbar */
header {
  position: sticky;
  top: 0;
  background: rgb(20, 208, 155);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--dark);
}

.navbar a:hover {
  color: var(--primary);
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  background: var(--primary);
  color: white;
  cursor: pointer;
}

.hero button:hover {
  opacity: 0.9;
}


/*Cards*/
.cards {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.card {
  background: white;
  padding: 1.5rem;
  flex: 1;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card:nth-child(2) {
  background: #eef2ff;
} 



/* Grid Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.gallery img {
  width: 100%;
}

/* Contact Form */
form {
  max-width: 500px;
  margin: 2rem auto;
}

input, textarea {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
}

input:focus, textarea:focus {
  outline: 2px solid var(--primary);
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: var(--dark);
  color: white;
}
